.ant_card {
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.ant_form_item {
  margin-bottom: 16px;
}

.site_form_item_icon {
  color: rgba(0, 0, 0, 0.25);
}

.ant_btn_primary {
  background-color: #1890ff;
  border-color: #1890ff;
}
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-color: #1c64cf;
}
